
/*  **********************
	Base Styles
	********************** */
*{
	color: black;
	margin: 0;
	


}

a{
	text-decoration: none;
}

/*  **********************
	Layout
	********************** */



.bannerContainer header h1{
	display: inline;
	float: left;
	margin: 0;
	font-size: 24px;
	padding: 30px;
	color: white;
	background-color: #006600;
	
}



.menu ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #006600;
	margin-left: 250px;

	
}

.menu li{
	padding-bottom: 30px;
	padding-top: 30px;
	float:right;

}



.menu li a{
	padding:30px;


}

.vertical *{
	color: black;
}
.vertical{

	
	width: 40%;
	height: 100%;
	background-color: #ffe6b3;

}

.vertical a{

	display: block;
	padding: 20px;

	font-size: 28px;
	text-align: center;




}



.bannerContainer{
	padding-left;
	display: flex;
	width: 100%;
	background-color: #006600;
	border-bottom: solid #003300 8px;



}

.bannerContainer .banner2{
	margin-left: 117px;

}


/*  **********************
	Module
	********************** */


.menu a{
  	
  	font-size: 24px;
  	color: white;
}

.menu{
	display: inline;
}







/*  **********************
	State
	********************** */

li a:hover {
  background-color: #5dd55d;
}

.bannerContainer {
	font-family: 'MedievalSharp', cursive;
}


.vertical a:hover {
  background-color: red;
}

.is-current {
	background-color: 

}

