/*  **********************
	Base Styles
	********************** */

*{

}
body{
	background-color: #663300;

}


/*  **********************
	Layout
	********************** */


.flex-shrek{
	display: flex;
	width: 100%;
}

.container{
	margin:auto;
	width: 90%;
	padding: 30px;
	padding-top: 50px;
	border-top: solid #663300 20px;

}

.flex-container{
	display: flex;
	
	width: 100%
}



.flex-shrek{
	margin-top: 40px;
}

.flex-shrek p{
	padding-bottom: 40px;
	line-height: 28px;
}
.flexh{
	
	padding-right: 60px;

}

.flexhmusic{
	padding-right: 40px;

}

.flexhawards{
	padding-right: 26px;
}


.botbanner{
	padding-left: 60px;
	padding-right: 20px;
	width: 30%;
	
}

.flex-shrek img{
	height: 150%;
	width: 150%;
}

.flex-container .botbanner{
	width: 700px;
	margin-left: 0px;


}

.botbanner h2{
	font-family: 'MedievalSharp', cursive;
	padding-top: 10px;
}

.botbanner p{
	font-family: 'MedievalSharp', cursive;
	padding-top: 10px;
	font-family: 'Rokkitt', serif;
	color: white;
}

.botbanner {
	width: 100%;
	margin:0px;


}

.botbanner{
	padding-right: 50px;
}



.container a{
	color: blue;
	text-decoration: underline;
	padding-left: 30px;
}


.h2{
	margin-top: 10px;
	width: 50%;

}


.content{
	padding-left: 20px;

}

.homeimg img{
	width: 1280px;

}


input{
	display: block;
	padding-top: 5px;
	width: 100%;
}

label{
	display: block;
	padding-top: 5px;
}

footer a{

	padding-left: 500px;
}


/*  **********************
	MODUlE
	********************** */

.foot2{
	border-top: solid #003300 8px;
	margin-top: 30px;
}


.flex-container{
    background-color: #006600;
	border-bottom: solid #003300 8px;
	border-top: solid #003300 8px;
}




.botbanner ul{
	list-style-type: none;
	text-decoration: none;
	
}



.botbanner h2{
	color: white;

}



.foot{
	padding: 15px;
	background-color: #006600;
	font-size: 14px;
	font-weight: bold;
	color: white;

}

.foot2{
	padding: 15px;
	background-color: #006600;
	font-size: 14px;
	font-weight: bold;
	color: white;

}


.container{

	background-color: #ffe6b3;
}

.homeimg{
	background-color: white;
}


.flex-shrek img{
	padding-top: 60px;
	width: 300px;
	padding-right: 20px;
	padding-left: 50px;
}



.container{
	font-family: 'Rokkitt', serif;
}

.container header{
	border-bottom: solid #003300 8px;
	font-size: 24px;
	font-family: 'MedievalSharp', cursive;
}




/*  **********************
	State
	********************** */
footer a:hover {
  color: white;
}


